/* Responsive Styles */

@media (max-width: 991px) {
    /* Our Clients Section */
    .clients .logos { grid-template-columns: repeat(3, 1fr); }

    /* Blockchain Future Section */
    .future .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        padding-bottom: 1rem;
    }
      
    .future .card .content { padding: 0.5rem 1rem; }
}


@media (max-width: 768px) {
    /* Navbar Section */
    nav .navbar {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    nav .cta {
        padding: 0.2rem 0.7rem;
        margin-top: 0.2rem;
        position: absolute;
        right: 0;
    }

    nav ul {
        justify-content: center;
        width: 100%;
        margin-top: 0.7rem;
    }

    nav ul li { padding: 0 0.5rem; }


    /* Banner Section */
    .banner {
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner .content { max-width: 100%; }

    .banner img { max-width: 95%; }


    /* Our Clients Section */
    .clients .logos {
        grid-template-columns: repeat(2, 1fr);
    }


    /* Power of Blockchain Section */
    .power .features {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .power .features .feature {
        width: 90%;
        max-width: none;
    }
    

    /* Helping Blockchain Section */
    .helping { flex-direction: column; }

    .helping .text {
        max-width: 100%;
        text-align: center;
    }

    .helping .stats { max-width: 100%; }


    /* Blockchain Future Section */
    .future .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 7rem;
        padding-bottom: 4rem;
    }
      
    .future .card .content {
        top: 50%;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }

    
    /* Contact Us Section */
    .contact { flex-direction: column; }

    .contact img {
        max-width: 100%;
        margin-bottom: 2rem;
    }

    .contact .form { max-width: 100%; }


    /* Footer Section */
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-left, .footer-middle, .footer-right { max-width: 100%; }

    .footer-social { justify-content: center; }
}


@media (max-width: 575px) {
    /* Blockchain Future Section */
    .future .cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;
        padding-bottom: 0.5rem;
    }
    
    .future .card .content { top: 70%; }
}